<tr>
    <td>{{id}}</td>
    <td>
        <div class="fi fi-{{icon}}">
            <div class="fi-content">{{icon}}</div>
        </div>
    </td>
    <td>{{name}}</td>
    <td>{{size}}</td>
    <td>{{type}}</td>
    <td><a href="/delthis/{{id}}" class="{{id}}">delete</a></td>
    <td><a href="/info/{{id}}">info</a></td>
    <td><a href="/uploadedfiles{{real_name}}" download="{{name}}">download</a></td>
</tr>